/* body {
  margin: 0;
  padding: 0;
  background: #000;
}
* {
  color: white !important;
  padding: 0px 10px;
  font-family: cursive;
}
td,
th {
  border: 2px solid black;
  padding: 10px;
  background: yellowgreen;
}
table {
  border-collapse: collapse;
}

input[type='button'],
button {
  color: white;
  background-color: red;
  padding: 5px;
  border: none;
  border-radius: 10px;
  font-size: 1.1em;
  cursor: pointer;
}
legend {
  border-color: black;
}
input {
  background: transparent !important;
  border: 1px solid white;
} */
.active {
  background-color: antiquewhite;
}
